<h1>hello world {{title }}</h1>

<h1 *ngIf="display; then thenBlock else elseBlock"></h1>
<ng-template #thenBlock>show </ng-template>
<ng-template #elseBlock>Don't show </ng-template>
<br><br>
<button (click)="changeData()">Toggle</button>
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-login></app-login> -->
<!-- <app-if-else></app-if-else> -->
<!-- <p>Count Value: {{count}}</p>
<button (click)="getCounter('add')">Add</button>
<button (click)="getCounter('minus')">minus</button> -->
<!-- <h2>{{getData()}}</h2>
<app-interpolation></app-interpolation>
<app-login></app-login>
<app-functioncalling></app-functioncalling>
<app-input-value></app-input-value> -->