<p>login works!</p>

<form #loginForm="ngForm" (ngSubmit)="getData(loginForm.value)">
    <input type="text" ngModel name="user" placeholder="enter user name" />
    <br><br>
    <input type="email" ngModel name="email" placeholder="enter user email" />
    <br><br>
    <input type="password" ngModel name="password" placeholder="enter user password" />
    <br><br>
    <button>Submit</button>
</form>


<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>